  .ReactModal__Overlay--after-open {
    margin: auto;
  }

  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    outline: auto;
    width: auto;
  }

  .header {
    margin: auto;
    text-align: center;
  }

  .content {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .content input{
    flex: 5;
    margin-right: 10px;
    width: 400px;
  }

  .content button{
    flex: 1;
  }