  .ReactModal__Overlay--after-open {
    max-width: 600px;
    max-height: 250px;
    margin: auto;
  }

  .header {
    margin: auto;
    text-align: center;
  }

  .content {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .content input{
    flex: 5;
    margin-right: 10px;
  }

  .content button{
    flex: 1;
  }