.contact-card {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .selected {
    font-weight: bold;
  }

  .address {
    display: flex;
    flex-direction: column;
  }
  