.message-container {
    flex: 3;
    flex-direction: column;
    overflow-y: auto;
}

.messages-header {
  width: 100%;
  height: 9%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom: 3px solid #444444;
}

.messages-list {
    flex: 3;
}

.title {
    flex: 15;
}

.input-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 10px;
    bottom: 0;
    left: 0;
    width: 98%;
    height: 60px;

  }
  
.input-container input {
    flex: 5;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
.input-container button {
    flex: 1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .ethereum-logo {
    width: 40px;
    height: auto;
    right: auto;
    flex: 2;
    margin-top: 7px;
  }