.message-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.messages-list {
    flex: 3;
    padding-top: 20px;
    padding-bottom: 100px;
}


.title {
    top: 0;
    padding: 10px;
    z-index: 1;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 98%;

  }
  
.input-container input {
    flex: 9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
.input-container button {
    flex: 1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }