.sidenav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #444444;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .bottom {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding-bottom: 40px;
  }