.sidenav {
    height: 100%;
    width: 75px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #444444;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    color: white;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: white;
  }
  
  .sidebar ul li a:hover {
    color: #f1f1f1;
  }
  