.topnav {
    display: flex;
    flex: 1;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 10px;
    background-color: #444444;
    color: white;
    height: 50px;
  }
  
  .left {
    display: flex;
    align-items: center;
    padding-left: 50px;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .right button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }